/* 基础部分 */
*{
    box-sizing: border-box;
}
body,html,h1,h2,h3,h4,h5,h6,div,span,ul,li,dl,dt,dd,ol,input, textarea {
    padding: 0;
    margin: 0;  
}

ul, li, ol, dl, dt,dd{
    list-style: none;
}
input, button, textarea{
    outline-style: none;
    appearance: none;
    /* 去除表单默认样式 */
    -webkit-appearance: none;  
}


/* 页面固定头 固定尾 中间滑动 开始 */
.anyi-fixed-header {
	height: 44px;
	width: 100%;
	padding: 0 44px;
	box-shadow: 0 2px 5px #E9E9E9;
    position: fixed;
    top: 0;
    margin: auto;
    z-index: 99;
    background: #fff;
}
.anyi-fixed-header-title {
	font-size: 20px;
	font-weight: 400;
	line-height: 44px;
	text-align: center;
	background: #fff;
}
.anyi-page-header-slot{	
	position: absolute;
	top: 0;
	height: 44px;
	width: 44px;	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	padding: 10px;
}
.anyi-page-header-left {
	left: 0;	
}
.anyi-page-header-right  {
	right: 0;
}

.anyi-page-footer {
	height: 50px;
	width: 100%;
	box-shadow: 0 -2px 5px #E9E9E9;
    position: fixed;
    bottom: 0;
    margin: auto;
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
.anyi-page-footer-item {
	height: 50px;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	padding: 5px 0px;
}
.anyi-page-footer-item span:nth-child(1){
	font-size: 20px;
}
.anyi-page-footer-item-active {
	color: #20A0FF;
}

.anyi-page-content {
    height: 100vh;
    width: 100vw;
    background: #fff;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

/* 页面固定头 固定尾 中间滑动 结束 */


/* loading 组件 开始 */
.anyi-loading {
    font-size: 0px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.anyi-loading-icon { 
    display: inline-block;  
    vertical-align: middle;
    animation: rotate 0.75s 0s linear infinite;   
}
.anyi-loading-text{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;  
    padding-left: 8px;
}
@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);      
     }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);      
     }
}
/* loading 组件 结束 */


/* 按钮组件 开始 */
.anyi-button {
    outline: none;
    border: 0 none;   
    padding: 8px 15px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}
.anyi-button-default {
    background: #fff;
    border: 1px solid #d0d0d0;
    color: #333;
}
.anyi-button-primary {
    border-color: #20a0ff;
    background: #20a0ff;
    color: #fff;
}
.anyi-button-text {
    border-color: #fff;
    background: #fff;
    color: #20a0ff;
}
.anyi-button-large {
    padding: 10px 18px;
    font-size: 18px;
}
.anyi-button-small {
    padding: 4px 12px;
    font-size: 14px;
}
.anyi-button-mini {
    padding: 3px 6px;
    font-size: 12px;
}
.anyi-button-loading {
    background: #75c1f9;
    border-color: #75c1f9;
    cursor: not-allowed;
}

/* 按钮组件 结束 */



/* 单选按钮相关 radio  开始*/
.anyi-radio {
    display: inline-block;
    height: 20px;  
    font-size: 0px;
    cursor: pointer; 
}
.anyi-radio > span {
    display: inline-block;
    font-size: 16px;    
}
.anyi-radio-input {
    height: 18px;
    width: 18px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #d0d0d0;
    border-radius: 100%;
    transition: all .2s;
    position: relative;   
    background-color: #fff;      
}

.anyi-radio-original {
    position: absolute;
    opacity: 0;
    outline: none;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 18px;
    width: 18px;
    /* 去除表单默认样式 */
    -webkit-appearance: radio;
    z-index: -1;
}
.anyi-radio-label{
    height: 18px;
    line-height: 18px;
    vertical-align: middle;
    padding-left: 5px;   
}
/* 是否已经选择 */
.is-checked {   
    border: 6px solid #20a0ff;   
}
/* 是否已经禁用 */
.is-disabled {
    cursor: not-allowed;
}
.is-disabled .anyi-radio-input {
    border-color: #d1dbe5;
    cursor: not-allowed;
    background-color: #eef1f6;
}
.is-disabled .anyi-radio-label {
    color: #bbb;    
}
/* 单选按钮样式 结束 */


/* 输入框样式开始 */
input {
    outline: none;
    border: 0 none;
    background: #fff;
    height: 36px;
}
.anyi-input {
    display: block;
    position: relative;
    padding-left: 80px;
}
.anyi-input-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    font-size: 16px;
    line-height: 36px;
}
.anyi-input-input{
   width: 100%;
   padding: 0 10px;
   font-size: 16px;
   line-height: 36px;
}
/*输入框样式结束 */




/* 选择开关 开始 */
.anyi-switch {
    position: relative;
    height: 26px;
    width: 48px;
    border-radius: 13px;
    background: #f0f0f0;
    cursor: pointer;
}
.anyi-switch-bgc {
    position: absolute;
    height: 26px;
    width: 48px;
    left: 0;
    top: 0;
    border: 2px solid #d0d0d0;
    border-radius: 13px;   
    transition: all .2s;
    z-index: 1;
}
.anyi-switch-input {
    display: none;
    position: absolute;
    z-index: -1;
    background: transparent;
}
.anyi-switch-button {
    height: 26px;
    width: 26px;
    border-radius: 13px;
    position: absolute;
    left: -1px;
    top: 0px;
    box-shadow: 0 0 5px #666;
    background: #fff;
    transition: all .2s;
    z-index: 2;
}
.anyi-switch-bgc.anyi-switch-is-checked {
    border-width: 13px;
    border-color: #20a0ff;
}
.anyi-switch-button.anyi-switch-is-checked{
    left: 22px;
}
.anyi-switch.anyi-switch-disabled {
    background: #e0e0e0;
    cursor: not-allowed;
}
.anyi-switch-button.anyi-switch-disabled{
    background: #cecece;
}
.anyi-switch-bgc.anyi-switch-disabled {
    border-color: #e0e0e0;
    box-shadow:  0 0 3px #666;
}
/* 选择开关 结束*/


/* 卡片组件 开始 */
.anyi-card {
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    overflow: hidden;
}
.anyi-card-header {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    background: #f0f0f0;
    border-bottom: 1px solid #d0d0d0;
}
.anyi-card-body {
    font-size: 16px;
    background: #fff;
    padding: 5px 10px;
}
.anyi-card-footer {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    background: #f0f0f0;
    border-top: 1px solid #d0d0d0;
}
/* 卡片组件  结束 */


